# Django Settings
DJANGO_SECRET_KEY=django-insecure-72600$2l53yaf2tjn@!og9($6y0pn)k7$s!4aya*bxt!o$(*x1
DJANGO_DEBUG=True

# Optional PostgreSQL Database Configuration (Leave empty to use default SQLite)
# DB_ENGINE=postgresql
# POSTGRES_DB=poovarasan_portfolio
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=your_postgres_password
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
